<launch>
  <arg name="rate" default="5.0" doc="Rate for rosbag play and RTAB-Map"/>
  <arg name="use_zed" default="true"/>
  <arg name="rviz" default="true"/>

  <include file="$(find turtlebot3_slam_3d)/launch/turtlebot3_rtabmap.launch">
    <arg name="use_zed" value="$(arg use_zed)"/>
    <arg name="rate" value="$(arg rate)"/>
    <arg name="rviz" value="true"/>
  </include>

  <include file="$(find turtlebot3_slam_3d)/launch/play_bag.launch">
    <arg name="use_zed" value="$(arg use_zed)"/>
    <arg name="rate" value="$(arg rate)"/>
    <arg name="delay" value="5.0"/>
  </include>

</launch>
