<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_slam_3d)/urdf/waffle_deep.urdf.xacro'"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
</launch>
